<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <div class="admin-container">
    <a href="/admin/dashboard" class="btn-back">&larr; Back</a>
    
    <h1>Add New Product</h1>
    <form action="/admin/perfumes/add" method="POST">
      <label>Product Name</label>
      <input type="text" name="perfumeName" required>

      <label>Image URL</label>
      <input type="text" name="uri" required>

      <label>Price</label>
      <input type="number" name="price" required>

      <label>Concentration</label>
      <input type="text" name="concentration" required>

      <label>Description</label>
      <textarea name="description" required></textarea>

      <label>Ingredients</label>
      <input type="text" name="ingredients" required>

      <label>Volume</label>
      <input type="number" name="volume" required>

      <label>Target Audience</label>
      <select name="targetAudience" required>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="unisex">Unisex</option>
      </select>

      <label>Brand</label>
      <select name="brand" required>
        <% brands.forEach(b => { %>
          <option value="<%= b._id %>"><%= b.brandName %></option>
        <% }) %>
      </select>

      <button type="submit">Add Product</button>
    </form>
  </div>

</body>
</html>
