<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="admin-container">
    <a href="/admin/brands" class="btn-back">&larr; Back</a>
    <h1>Edit Brand</h1>

    <form action="/admin/brands/edit/<%= brand._id %>" method="POST">
      <label>Brand Name</label>
      <input type="text" name="brandName" value="<%= brand.brandName %>" required>
      <button type="submit">Update Brand</button>
    </form>
  </div>
</body>
</html>
